@model IEnumerable<Store.Models.Category>


<div class="card shadow border-0 mt-4">

    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="rows">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">List category</h2>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row pt-3">
            <div class="col-6">
                <h2 class="text-primary">Category list</h2>
            </div>

            <div class="col-6 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus"></i> create new category
                </a>
            </div>

        </div>

        <br />

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Diplayname</th>
                    <th>Diplayorder</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var cat in Model.OrderBy(x => x.DisplayOrder))
                {
                    <tr>

                        <td>@cat.CatName</td>
                        <td>@cat.DisplayOrder</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-action="Edit" asp-controller="Category" asp-route-id="@cat.CategoryID" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>

                                <a asp-action="Delete" asp-controller="Category" asp-route-id="@cat.CategoryID" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>


                            </div>
                        </td>
                    </tr>


                }
            </tbody>
        </table>


    </div>
</div>
  
