@model int
@{
    ViewData["Title"] = "OrderConfirmation";
   
}

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-bg-primary text-center ">  your order successful </h1>
        your Oerder Id is :@Model
        <br /><br />
    </div>

    <div class="col-12 text-center">
        <h1 class="text-bg-primary text-center ">  your order successful</h1>
        your Oerder Id is :@Model
        <br /><br />
    </div>
</div>